<table id="content-table" data-key="id data-editable="true">
<tr><th>id</th><th>name</th></tr>
{{#each data}}<tr><td data-editable="true">{{data.id}}</td><td data-editable="true">{{data.name}}</td></tr>{{/data}}
</table>