<div id="nav-bar">
  <div id="logo">Admin</div>
</div>
<div id="main-content">
  <div id="content-header">Header</div>
  <div id="content-data">
       {{> (resolve_partial __table_name) }}
  </div>
</div>